body{


}

img{
padding:20px;
width:200px;
margin-top:20px;
}

.h1{

font-family:times new roman;
color:white;
background-color:black;
border-radius:30px;
padding:20px;
width:fitcontent;
}