{% extends "home.html" %}

 {% block navbar %}

<li class="nav-item ">
                  <a class="nav-link " href="{{url_for('logout')}}">LOG OUT</a>
                </li>


                {% block heading %}
                <h6  style="color:white; padding-bottom:0px; font-family: 'Times New Roman', Times, serif; font-size: 22px; ">
                {{msg}}{{msg2}} </h6>
                {% endblock %}



 {% endblock %}
{% block head %}

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <style>
      html, body {
      min-height: 100%;
      }
      body, div, form, input, select, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      }
      h1 {
   
   margin:0;
   font-family: cooper black;
   font-size: 60px;
   color: #fff;
   z-index: 2;

   padding: 15px;
   
   
   }
      span.required {
      color: red;
      }
      .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 20px;
      }
      form {
      width: 100%;
      padding: 20px;
      border-radius: 6px;
      background: #fff;
      box-shadow: 0 0 30px 0 #095484; 
      }
      .banner {
      position: relative;
      height: 180px;
      
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      }
      .banner::after {
      content: "";
      background:linear-gradient(to right,black,blue,black);
      position: absolute;
      width: 100%;
      height: 100%;
      }
      p.top-info {
      margin: 10px 0;
      }
      input, select {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      }
      select {
      width: 100%;
      padding: 7px 0;
      background: transparent;
      }
      .item:hover p, .question:hover p, .question label:hover, input:hover::placeholder {
      color: #095484;
      }
      .item input:hover, .item select:hover {
      border: 1px solid transparent;
      box-shadow: 0 0 5px 0 #095484;
      color: #095484;
      }
      .item {
      position: relative;
      margin: 10px 0;
      }
      .question input {
      width: auto;
      margin: 0;
      border-radius: 50%;
      }
      .question input, .question span {
      vertical-align: middle;
      }
      .question label {
      display: inline-block;
      margin: 5px 20px 15px 0;
      }
      .btn-block {
      margin-top: 10px;
      text-align: center;
      }
      button {
      width: 150px;
      padding: 10px;
      border: none;
      border-radius: 5px; 
      background: #095484;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background: #0666a3;
      }
      @media (min-width: 568px) {
      .name-item, .city-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      }
      .name-item input, .city-item input {
      width: calc(50% - 20px);
      }
      .city-item select {
      width: calc(50% - 8px);
      }
      }
    </style>

{% endblock %}

{% block body %}
<div class="testbox">
    <form action="/requestplasma" method="post">
      <div class="banner">
        <h1 style="font-size:60px; ;">PLASMA DONOR APPLICATION</h1>
      </div>
     <h2 style="font-family:COOPER BLACK;padding:10px; color:black">Plasma Request Form</h2>
      <div class="item">
        <p  style="font-family: cooper black;">Name<span class="required">*</span></p>
        <div class="name-item">
          <input type="text" name="name" placeholder="Fullname" required/>
          <input type="text" name="username" placeholder="username" required/>
        </div>
      </div>
      <div class="question">
        <p  style="font-family: cooper black;">Gender<span class="required">*</span></p>
        <div class="question-answer">
          <label><input type="radio" value="none" name="gender" required/> <span>Male</span></label>
          <label><input type="radio" value="none" name="gender" required/> <span>Female</span></label>
        </div>
      </div>
      <div class="item">
        <p  style="font-family: cooper black;">Blood Group<span class="required">*</span></p>
        <input type="text" name="bloodgroup" required/>
      </div>
      <div class="item">
        <p  style="font-family: cooper black;">Email<span class="required">*</span></p>
        <input type="email" name="email" required/>
      </div>
      <div class="item">
        <p  style="font-family: cooper black;">Phone<span class="required">*</span></p>
        <input type="text" name="phone"/>
      </div>
 
      <div class="item">
        <p  style="font-family: cooper black;">Home Address<span class="required">*</span></p>
        <input type="text" name="street" placeholder="Street address" required/>
        <div class="city-item">
          <input type="text" name="city" placeholder="City" required/>
          <input type="text" name="region" placeholder="Region" required/>
          <input type="text" name="pin" placeholder="Postal / Zip code" required/>
          <input type="text" name="state" placeholder="state" required/>          
          <input type="text" name="country" placeholder="country" required/>
        </div>
      </div>

      <div class="item">
        <p style="font-family: cooper black;">Hospital Address If need:</p>
        <input type="text" name="hosstreet" placeholder="Street address" />
        <div class="city-item">
          <input type="text" name="hoscity" placeholder="City" >
          <input type="text" name="hosregion" placeholder="Region"/>
          <input type="text" name="hospin" placeholder="Postal / Zip code" />
          <input type="text" name="hosstate" placeholder="state" required/>          
          <input type="text" name="hoscountry" placeholder="country" />
        </div>
      </div>

      
      <div class="btn-block">
        <button type="submit" value="submit">REQUEST</button>
      </div>
    </form>
  </div>
{% endblock %}
