{% extends "home.html" %}

 {% block navbar %}

<li class="nav-item ">
                  <a class="nav-link disabled" href="{{url_for('signin')}}">Sign In</a>
                </li>

<li class="nav-item">
                  <a class="nav-link" href="{{url_for('signup')}}">Sign Up</a>
                </li>



 {% endblock %}


{% block content %}
<hr>

<center>

    <form class="was-validated" action = "{{ url_for('log_in') }}" method = "POST">




    <div style=" background-image: linear-gradient(to bottom right, white,white,white ,blue,black);  width:fit-content; border-radius: 30px;  margin:50px;">
<div style="padding:30px;">

      <div class="card-title">

   <img src="static/images/5.jpg" class="card-img-top" alt="login" style="width:200px; margin-top:0px;  border-radius:50%; ">


<!--        <h2 style="font-family:fajita; color:black; background-image: linear-gradient(to right, blue,skyblue,blue);  padding: 15px; width: fit-content; border-radius: 30px;">Log in</h2>-->
    

       <br> 
       
        <div class="card-body">
            <div class="badge bg-primary text-wrap" style="width: 8rem; padding-top: 10px;">
                
            <label for="username" class="form-label">Username </label>
            </div>
            <font color="white">:</font>
      
          <input type="text" class="col" placeholder="Enter a Username" name="username" required >

      </div>
      
 
       <br>
       
      <div class="col">
        <div class="badge bg-primary text-wrap" style="width: 8rem; padding-top: 10px;">
            
        <label for="Email" class="form-label">Password </label>
        </div>
        <font color="white">:</font>

      <input type="text" class="col" placeholder="Enter Password" name="password"
             pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
             title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters and match password"
             required>
    
      </div><h6 style="color:black; padding-top:20px;">{{msg}}</h6>
  <br>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">SIGN IN </button>
  </div><br>
  <h5 style="font-style: italic;color:RED; ">Already have an account? <a href="{{url_for('signup')}}" style="text-decoration: none; font-style: italic;color:YELLOW; font-family:times new roman; ">sign up</a></h5>
</div>

</div>

</center>
</form>
{% endblock %}
