{% extends "home.html" %}

 {% block navbar %}


    <li class="nav-item">
                  <a class="nav-link disabled" href="{{url_for('new_student')}}">Add student</a>
                </li>

<li class="nav-item">
                  <a class="nav-link" href="{{url_for('list')}}">List student</a>
                </li>

<li class="nav-item">
                  <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
                </li>




 {% endblock %}
{% block content %}

<hr>
<center>

<form action = "{{ url_for('addrec') }}" method = "POST">

     <div style="   background-image: linear-gradient(to right,black, white, silver,black); width:fit-content; padding:30px; border-radius:50px; margin:50px;">
    <h3 style="background-image: linear-gradient(to right,yellow,gray); border-radius:50px;">Student Information</h3><br>

        <table  cellpadding="10"  >
    <tr >
        <td>
        <h5 style="background-image: linear-gradient(to right,red,gray);color:white; padding:10px; border-radius:50px;">Name</h5></td>
        <td> <input type = "text" name="name" ><br></td>
    </tr>
    
  <tr>
        <td>
        <h5 style="background-image: linear-gradient(to right,red,gray);color:white; padding:10px; border-radius:50px;">Address</h5></td>
        <td> <input type = "text" name="address" ><br></td>
    </tr>

      <tr>
        <td>
        <h5 style="background-image: linear-gradient(to right,red,gray);color:white; padding:10px; border-radius:50px;">city</h5></td>
        <td> <input type = "text" name="city" ><br></td>
    </tr>

      <tr>
        <td>
        <h5 style="background-image: linear-gradient(to right,red,gray);color:white; padding:10px; border-radius:50px;">Pin</h5></td>
        <td> <input type = "text" name="pin" ><br></td>
    </tr><br>

 </table><br>
    <botton  class="btn btn-primary" type = "submit" value="submit">Add Student </botton>


     </form>
    </div></center>
{% endblock %}