{% extends "home.html" %}

 {% block navbar %}

<li class="nav-item">
                  <a class="nav-link" href="{{url_for('signin')}}">Sign In</a>
                </li>

<li class="nav-item">
                  <a class="nav-link disabled" href="{{url_for('signup')}}">Sign Up</a>
                </li>

 {% endblock %}

{% block content %}
<br<br>
<br>
<br<br>
<br>
<br<br>
<br>

<center>
    <form action = "{{ url_for('sign_up') }}" method = "POST">
    <div style="background-image: linear-gradient(to right,black, white, silver,black); width:fit-content; border-radius: 30px; ">
<div style="padding: 20px;">

    
        <h2 style="font-family:fajita; color:black; background-image: linear-gradient(to right,blue,skyblue,blue);  padding: 15px;
        width: fit-content; border-radius: 30px;">Sign Up </h2>
    
   
       <br> 
       
       <div class="container text-center">

       <div class="col">
        <div class="badge bg-primary text-wrap" style="width: 8rem; padding-top: 10px;">
            
        <label for="Email" class="form-label">Username </label>
        </div>
        <font color="white">:</font>
  
      <input type="text" class="col" placeholder="Enter a Username" name="username">
    
  </div><br>

        <div class="col">
            <div class="badge bg-primary text-wrap" style="width: 8rem; padding-top: 10px;">
                
            <label for="Email" class="form-label">Email Id </label>
            </div>
            <font color="white">:</font>
      
          <input type="text" class="col" placeholder="Enter a email" name="email">
        

      
       </div>
       <br>
       
      <div class="col">
        <div class="badge bg-primary text-wrap" style="width: 8rem; padding-top: 10px;">
            
        <label for="Email" class="form-label">Password </label>
        </div>
        <font color="white">:</font>
  
      <input type="text" class="col" placeholder="Enter Password" name="password">
    
  </div>
  <br>

 
  
  <br><br>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">SIGN UP </button>
  </div>
    
</div>
</div>
    </div>
</center>
</form>
{% endblock %}
